<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoリスト</title>
</head>
<body>
    <h1>Todoリスト</h1>
    <form action="/todos/" method="post">
        <input type="text" name="todoContent">
        <input type="submit" value="作成">
    </form>
    <% if (todos.length) { %>
        <h2>残りタスク数 <%= todos.length %></h2>
    <% } else { %>
        <h2>今日もお仕事お疲れ様です！</h2>
    <% } %>
    <ul>
        <% todos.map((todo) => { %>
            <li><%= todo.id %> <%= todo.content %></li>
            <!-- 編集へ行くボタン -->
            <form action="/todos/<%= todo.id %>/edit" method="get">
                <input type="submit" value="編集">
            </form>

            <!-- 削除ボタン -->
            <form action="/todos/<%= todo.id %>" method="post">
                <input type="hidden" name="_method" value="delete"> <!-- 設定だけ -->
                <input type="submit" value="削除">
            </form>
        <% }) %>
    </ul>
</body>
</html>